QWidget {
    background-color: #202020;
    color: #ffffff;
}

QLineEdit {
    background-color: #121416;
    color: #9c9c9c;
    border-radius: 4px;
    padding: 4px 2px;
}

QComboBox{
    background-color: #282c34;
    border-radius: 4px;
    padding: 4px;
    font-size: 12px;
}

QPushButton {
    background-color: #282c34;
    padding: 6px;
    margin: 0px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
}

QScrollArea, QCheckBox {
    background-color: #282c34;
}